# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

.settings
.project

*.h5
test/Makefile
test/Testing/
test/cmake_install.cmake
test/four_index_gf_pn_test
test/four_index_gf_test
test/index_test
test/itime_gf_test
test/matsubara_gf
test/mesh_test
test/three_index_gf_test
test/usage
gtest
CMakeCache.txt
CMakeFiles
.cproject

CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake

#Backup files
*~

install_manifest.txt
test/four_index_gf_test_mismatched-mpi
test/four_index_gf_test_mismatched-tail-mpi
test/fourier_test
test/mesh_test_mpi
test/multiarray_bcast_mpi
test/one_index_gf_test
test/two_index_gf_test
